body {
	font-family:"Lucida Calligraphy","Trebuchet MS",arial;
	color: white;
	background-color: black;
	background-image: url("images/background.jpg");
	background-size: 100%;
}

h1 {
	color: #af1313;
	font-size: 260%;
	margin-top: 2.5%;
}

div#div1 {
	position: fixed;
	left: 2%;
	top: 28%;
	width: 40%;
	height: 50%;
}

div#div2 {
	position: fixed;
	right: 2%;
	top: 28%;
	width: 40%;
	height: 50%;
}

div {
	text-align: center;
	border-radius: 20px;
	border: 2px #5d1313 outset;
}

div h2 {
	color: #af1313;
	font-size: 220%;
	padding-left: 10px;
}

.divp {
	font-size: 150%;
	padding-top: 20px;
	margin:0 auto;
	margin-bottom: 30px;
	text-decoration: none;
	display: block;
}

a {
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}

a:hover{
	color:#ffffff55;
}

div span {
	color: #cbcbcc;
	margin-left: 10px;
	font-size:70%;
}
