body {
	font-family:"Lucida Calligraphy","Trebuchet MS",arial;
	color: white;
	background-color: black;
	background-image: url("images/background.jpg");
	background-size: 100%;
}

h1 {
	color: #af1313;
	font-size: 260%;
	margin-top: 2.5%;
}

div#div1 {
	position: fixed;
	left: 2%;
	top: 28%;
	width: 40%;
	height: 50%;
}

div#div2 {
	position: fixed;
	right: 2%;
	top: 28%;
	width: 40%;
	height: 50%;
}

div {
	text-align: center;
	border: 2px #5d1313 groove;
	border-radius: 20px;
}

div h2 {
	color: #af1313;
	font-size: 220%;
	padding-left: 10px;
}

div p {
	color: #c3c0c0;
	font-size: 150%;
	padding-top: 20px;
	margin-bottom: 30px;
}